# ignore everything by default
/*

# except this file, of course
!/.gitignore

# store our tmux configuration
!/.tmux.conf

# store our bashrc
!/.bashrc

# include subdirectories
!/bin

# include our custom binaries
!/bin/*
