# ignore everything by default
/*

## store some additional files
!/.gitignore    # this file, of course
!/.tmux.conf    # our tmux configuration
!/.bashrc   # our bash settings
!/.virc # our vi settings

# include our custom binaries subdirectory
!/bin

# include our custom binaries
!/bin/*
