# ignore everything by default
/*

## store some additional files
# include this file, of course
!/.gitignore
# our tmux configuration
!/.tmux.conf
# our bash settings
!/.bashrc
# our vi/m settings
!/.virc
!/.vimrc
# include our Xdefaults
!/.Xdefaults

# include our custom binaries subdirectory
!/bin

# include our custom binaries
!/bin/*

# include some notes that we take
!/notes
!/notes/*
